### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# =======================================================
# ARQUIVOS DE CONFIGURAÇÃO LOCAL E SEGREDOS (ADICIONE AQUI)
# =======================================================

# Ignora o arquivo que contém as senhas do banco de dados
.env

# Ignora a pasta de imagens que os usuários fazem upload
/uploads/

# Ignora a pasta de build do Maven
/target/